body {
  font-family: 'Cutive Mono';
  color: #000;
  font-size: 1.25em;
  background-color: #fff;
}

h1 {
  text-align: center;
}

img {
  display: block;
  height: 142px;
  width: 224px;
  margin: 100px auto 0;
}	

form {
  text-align: center;
  margin-top: -20px;
}

.button {
  cursor: pointer;
  border-radius: 12px;
  display: block;
  margin: 15px auto 20px;
  padding: 10px 20px 10px 20px;
  font-family: 'Cutive Mono';
  color: #000;
  font-size: 16px;
  background: #9dd9f1;
  /* text-decoration: none; */
  border: 0;
  font-weight: bold;
  letter-spacing: 3px;
  outline: none;
}
.button:hover {
  background-color: #000;
  color: #9dd9f1;
}

#warning {
  text-align: center;
}

.searchquery {
  border: 1px dotted black;
}

#explanation {
  width: 900px;
  margin: 0 auto;
  font-size: 16px;
  padding-top: 20px;
  text-align: center;
}

#results {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

.results-link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
  letter-spacing: 3px;
  color: #aa5a4f;
}
